.lines {
  display: block;
  margin: 0 auto;
  width: 75%;
  max-width: 300px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.se {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin: 20px 0;
}